@import 'src/styles/shared.scss';

.cofi-risk-modal {
  &-card {
    &-content {
      section + section {
        margin-top: $space;
      }

      height: 500px;
      overflow: auto;
    }

    p {
      font-size: $font-size;
      line-height: $line-height;
      color: $dim-color;
      margin: 0;
    }
  }
}

.tips {
  margin-top: $space;

  &-info{
    font-size: $font-size;
    line-height: $line-height;
    color: $dim-color;
    margin: 0;
  }
}
